.pri-button {
  outline: none;
  background-color: transparent;
  height: 32px;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 8px 15px;
  color: var(--base-font-color);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  font-size: var(--base-font-size);
}

.pri-button:hover {
  border-color: var(--primary-color-4);
  background-color: var(--white-color);
}

.pri-button:active {
  border-color: var(--primary-color);
}

.pri-button.default {

}

span {
  color: #67c23a;
}
