# 根目录的配置文件，编辑器会由当前目录向上查找，如果找到 `roor = true` 的文件，则不再查找
# 根配置文件
root = true

# 对所有文件配置以下规则
[*]
charset = utf-8                     # 编码格式
indent_style = space                # 空格缩进
indent_size = 2                     # 缩进空格为2个
end_of_line = lf                    # 结尾换行符风格
trim_trailing_whitespace = true     # 不保留行末风格
insert_final_newline = true         # 文件末尾新添加一个空行
quote_type = single                 # 不是editorconfig官方支持的属性，但是可以由一些IDE编辑器解析的，例如idea
