:root {
  --pri-animation-duration: 0.25s;
  --pri-time-function: cubic-bezier(.23, 1, .32, 1);
}

/* 淡入淡出 */
.fade-enter {
  animation: fade var(--pri-animation-duration) ease-in-out;
}
.fade-leave {
  animation: fade var(--pri-animation-duration) ease-in-out reverse;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 缩放 */
.scale-enter {
  animation-duration: var(--pri-animation-duration);
  animation-timing-function: var(--pri-time-function);
}
.scale-leave {
  animation-duration: var(--pri-animation-duration);
  animation-timing-function: var(--pri-time-function);
  animation-direction: reverse;
}
.scale-top {
  transform-origin: center bottom;
  animation-name: scale-frame-y;
}
.scale-bottom {
  transform-origin: center top;
  animation-name: scale-frame-y;
}
.scale-left {
  transform-origin: right center;
  animation-name: scale-frame-x;
}
.scale-right {
  transform-origin: left center;
  animation-name: scale-frame-x;
}
@keyframes scale-frame-x {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    transform: scaleX(100%);
  }
}
@keyframes scale-frame-y {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(100%);
  }
}

/* 平移 */
.translate-enter {
  animation-duration: var(--pri-animation-duration);
  animation-timing-function: var(--pri-time-function);
}
.translate-leave {
  animation-duration: var(--pri-animation-duration);
  animation-timing-function: var(--pri-time-function);
  animation-direction: reverse;
}
.translate-top {
  transform-origin: center bottom;
  animation-name: translate-frame-y-2;
}
.translate-bottom {
  transform-origin: center top;
  animation-name: translate-frame-y;
}
.translate-left {
  transform-origin: right center;
  animation-name: translate-frame-x-2;
}
.translate-right {
  transform-origin: left center;
  animation-name: translate-frame-x;
}
@keyframes translate-frame-x {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translate-frame-x-2 {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translate-frame-y {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes translate-frame-y-2 {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 水波涟漪逐渐放大并慢慢消失 */
.ripple-effect {
  position: absolute;
  background-color: #ededed;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-scale 0.5s ease-out;
}
@keyframes ripple-scale {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
