:root {
  /* 主色调 */
  --primary-color: #0958d9;
  --primary-color-2: #1677ff;
  --primary-color-3: #4096ff;
  --primary-color-4: #69b1ff;
  --primary-color-5: #91caff;
  --primary-color-6: #bae0ff;
  --primary-color-7: #e6f4ff;
  --success-color: #67c23a;
  --success-color-2: #529b2e;
  --success-color-3: #95d475;
  --success-color-4: #b3e19d;
  --success-color-5: #d1edc4;
  --success-color-6: #e1f3d8;
  --success-color-7: #f0f9eb;
  --warning-color: #e6a23c;
  --warning-color-2: #b88230;
  --warning-color-3: #eebe77;
  --warning-color-4: #f3d19e;
  --warning-color-5: #f8e3c5;
  --warning-color-6: #faecd8;
  --warning-color-7: #fdf6ec;
  --danger-color: #cf1322;
  --danger-color-2: #f5222d;
  --danger-color-3: #ff4d4f;
  --danger-color-4: #ff7875;
  --danger-color-5: #ffa39e;
  --danger-color-6: #ffccc7;
  --danger-color-7: #fff1f0;
  --info-color: #909399;
  --info-color-2: #73767a;
  --info-color-3: #b1b3b8;
  --info-color-4: #c8c9cc;
  --info-color-5: #dedfe0;
  --info-color-6: #e9e9eb;
  --info-color-7: #f4f4f5;
  --dark-theme-color: #141414;
  --white-color: #ffffff;
  --black-color: #000000;
  /* 字体 */
  --base-font-size: 14px;
  --base-font-weight: 400;
  --base-font-color: #606266;
  /* 边框 */
  --base-border-radius: 2px;
  --base-border: 1px solid #dcdfe6;
  --base-border-color: #dcdfe6;
}

:root[theme="dark"] {
  --bg-color: var(--dark-theme-color);
  --text-color: var(--white-color);
}

:root[theme="light"] {
  --bg-color: var(--white-color);
  --text-color: var(--black-color);
}
