.date-panel-container {
  width: 310px;
  padding: 10px;
  user-select: none;
  color: rgb(96, 98, 102);
}

.panel-border {
  border: 1px solid #e4e7ed;
  border-radius: 3px;
}

.panel-shadow {
  box-shadow: 0 0 12px rgba(0, 0, 0, .12);
}



